<div class="container">

    <% flash.each do |key, message| %>
      <div class="text-center alert
                  alert-<%= key == 'notice' ? 'success' : 'danger' %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>

</div>
